:root {
  --primary-color: #4c6ef5;
  --primary-hover: #3b5bdb;
  --bg-white: #ffffff;
  --bg-gray-light: #f8f9fa;
  --bg-gray-hover: #f1f3f5;
  --border-color-light: #eeeeee;
  --border-color-strong: #dee2e6;
  --text-main: #212529;
  --text-sub: #495057;
  --text-muted: #868e96;
  --color-frontend: #1c7ed6;
  --bg-frontend: #e7f5ff;
  --color-backend: #2b8a3e;
  --bg-backend: #ebfbee;
  --color-db: #d9480f;
  --bg-db: #fff4e6;
  --shadow-sm: 0 4px 6px rgba(0, 0, 0, 0.1);

  --text: #6b6375;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
}

body {
  margin: 0;
  color: var(--text-main);
  background: var(--bg);
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 40px 20px;
  box-sizing: border-box;
}

.header h1 {
  color: var(--primary-color);
  margin-bottom: 30px;
}

h1,
h2 {
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
}

.search_bar {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: var(--bg-white);
  padding: 15px 20px;
  border-radius: 12px;
  box-shadow: var(--shadow-sm);
  margin-bottom: 25px;
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
}

.filter_wrap {
  display: flex;
  gap: 10px;
}

.filter_wrap select {
  height: 42px;
  border: 1px solid var(--border-color-strong);
  border-radius: 8px;
  padding: 0 10px;
  outline: none;
  cursor: pointer;
}

.search_wrap {
  display: flex;
  flex: 1;
  gap: 8px;
}

.search_text {
  flex: 1;
  height: 42px;
  padding: 0 15px;
  border: 1px solid var(--border-color-strong);
  border-radius: 8px;
  outline: none;
}

.submit_btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0 20px;
  cursor: pointer;
  font-weight: bold;
}

.reset_btn {
  background-color: var(--bg-gray-light);
  color: var(--text-sub);
  border: 1px solid var(--border-color-strong);
  border-radius: 8px;
  padding: 0 20px;
  cursor: pointer;
}

code,
.counter {
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
